.menu-profile{
    box-sizing: border-box;
    background: #101827;
    width: 200px;
    min-width: 200px;
    height: calc(100vh - 48px);
    border-top: 4px solid #28489F;
    &__wrapper{
        
    }

    &__stores-list{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
    }
    &__stores-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        min-width: 220px;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
        padding: 5px 20px;
        background: red;
        &:hover{
            background: rgb(75, 74, 74);
        }
        &_name{
            color: #FFFFFF;
            font-size: 16px;
        }
        &_arrow{
            color: #FFFFFF;
            width: 15px;
        }
    }

    &__stores-list-drop{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
        background: #FFFFFF;
        position: absolute;
        margin-bottom: -100px;
    }
    &__stores-item-drop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        min-width: 220px;
        border: 1px solid #FFFFFF;
        padding: 5px 20px;
        background: none;
        &:hover{
            background: #333;
            & .menu-profile__stores-item-drop_name{
            }
        }
        &_name{
            color: #28489F;
            font-size: 16px;
            transition: all 0.3s;
        }
    }

    &__list{

    }
    &__item{
        font-size: 14px;
    }
    &__item-parent{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0;
        background: #101827;
        transition: all 0.3s;
        border-left: 1px solid #ffffff00;
        &_name{
            color: #FFFFFF;
            font-weight: 700;
        }
        &_arrow{
            width: 15px;
            margin-left: 10px;
            transition: all 0.3s;
        }
    }
    &__item-parent-active{
       /*  background: #FFFFFF; */
        border-left: 10px solid #28489F;
        &_name{
            /* color: #333; */
        }
       
    }
    &__item-child{
        display: flex;
        width: 100%;
        padding: 10px 10px 10px 50px;
        text-decoration: none;
        background: #101827;
        /* border: 1px solid #FFFFFF;
        border-left: none; */
        &:hover{
            background: #ffffff31;
            & .menu-profile__item-child_name{
                color: #FFFFFF;
            }
        }
        &_name{
            color: #FFFFFF;
        }
    }
}